<?xml version="1.0"?>
<model>
  <name>docking_station</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>KTH Marinarium docking station</name>
  </author>
  <description>Static docking station mesh for Gazebo/PX4 simulation. Source mesh is in millimetres and is scaled to metres in SDF.</description>
</model>
